body{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p1{

    color: rgb(255, 255, 255);
    background-color:rgb(58, 136, 189);
    font-size: 25px;

}

.p2{

    color: rgb(255, 255, 255);
    background-color:rgb(58, 136, 189);
    font-size: 25px;

}